<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Coin0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0001</key>
			<dict>
				<key>frame</key>
				<string>{{32,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0002</key>
			<dict>
				<key>frame</key>
				<string>{{64,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0003</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,32},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0005</key>
			<dict>
				<key>frame</key>
				<string>{{32,32},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0006</key>
			<dict>
				<key>frame</key>
				<string>{{64,32},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0007</key>
			<dict>
				<key>frame</key>
				<string>{{96,32},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,64},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0009</key>
			<dict>
				<key>frame</key>
				<string>{{32,64},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0010</key>
			<dict>
				<key>frame</key>
				<string>{{64,64},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0011</key>
			<dict>
				<key>frame</key>
				<string>{{96,64},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0013</key>
			<dict>
				<key>frame</key>
				<string>{{32,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0014</key>
			<dict>
				<key>frame</key>
				<string>{{64,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0015</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0016</key>
			<dict>
				<key>frame</key>
				<string>{{0,32},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0017</key>
			<dict>
				<key>frame</key>
				<string>{{32,32},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0018</key>
			<dict>
				<key>frame</key>
				<string>{{64,32},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0019</key>
			<dict>
				<key>frame</key>
				<string>{{96,32},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0020</key>
			<dict>
				<key>frame</key>
				<string>{{0,64},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0021</key>
			<dict>
				<key>frame</key>
				<string>{{32,64},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0022</key>
			<dict>
				<key>frame</key>
				<string>{{64,64},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>Coin0023</key>
			<dict>
				<key>frame</key>
				<string>{{96,64},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>ScoreAbleAssets.png</string>
			<key>size</key>
			<string>{128,128}</string>
			<key>textureFileName</key>
			<string>ScoreAbleAssets.png</string>
		</dict>
	</dict>
</plist>
